<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pets</title>
</head>
<body>
<form action="#" method="post">
    <label for="color">Color</label>
    <select type="text" name="color" id="color">
        <option value="">Select</option>
        <option value="pink">Pink</option>
        <option value="black">Black</option>
        <option value="brown">Brown</option>
        <option value="white">White</option>
    </select>
    <check if="{{ isset(@errors['color']) }}">
        <span>{{ @errors['color'] }}</span>
    </check>
<button type="submit">Next>></button>
</form>
</body>
</html>